@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 247, 237;
  --background-end-rgb: 255, 237, 213;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-orange-500 to-red-500 bg-clip-text text-transparent;
  }
}
